body{
    text-align: center;
    justify-content: center;
}

#turn_area{
    margin: 2em;
    font-size: 1.2em;
}

#game_area{
    margin: 5em;
}

#result_area{
    margin: 1em;
    font-size: 1.2em;
}

.row{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.cell{
    height: 2em;
    width: 2em;
    font-size: 2em;
    font-family: sans-serif;
    font-weight: bold;
    align-content:center;
    background-color: lightgrey;
    border-width: 0.01em;
    border-style:solid;
}